/* TODO: Replace most, or all, of this CSS with Tailwind CSS. */

html, body {
    margin: 10px 0 0 10px;

    text-align: center;

    background: gray;
    color: wheat;
}

.cusomLink {
    text-decoration: underline dotted;
}

.cusomLink:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.cusomLink:active {
    color: rgb(0, 0, 0);
}

#navigation-bar {
    margin-bottom: 10px;
}

#navigation-bar a {
    margin-right: 10px;
}

#location-header {
    margin-bottom: 10px;
}

#content-area {
    margin-bottom: 10px;
}