html, body {
    margin: 10px 0 0 10px;

    text-align: center;

    background: gray;
    color: wheat;
}

a:link {
    color: wheat;
    text-decoration: underline dotted;
}

a:hover {
    color: rgb(0, 0, 0);
}

a:active {
    color: white;
}

#menu-bar {
    margin: 0;
}

#menu-bar a {
    margin-right: 10px;
}

#location-header {
    margin-bottom: 10px;
}

#content-area {
    margin-bottom: 10px;
}